{#- ---------------------------------------------------------------------------------- #}
{# Junos Configuration stanza for "system"                                             #}
{# ------------------------------------------------------------------------------------#}
{% if configuration.system is defined %}
    {% include 'system.j2' %}
{% endif %}

{#- ---------------------------------------------------------------------------------- #}
{# Junos Configuration stanza for "chassis"                                            #}
{# ------------------------------------------------------------------------------------#}
{% if configuration.chassis is defined %}
    {% include 'chassis.j2' %}
{% endif %}

{#- ---------------------------------------------------------------------------------- #}
{# Junos Configuration stanza for "interfaces"                                         #}
{# ------------------------------------------------------------------------------------#}
{% if configuration.interfaces is defined %}
    {% include 'interfaces.j2' %}
{% endif %}

{#- ---------------------------------------------------------------------------------- #}
{# Junos Configuration stanza for "routing-instances"                                  #}
{# ------------------------------------------------------------------------------------#}
{% if configuration.routing_instances is defined %}
    {% include 'routing_instances.j2' %}
{% endif %}

{#- ---------------------------------------------------------------------------------- #}
{# Junos Configuration stanza for "routing-options"                                    #}
{# ------------------------------------------------------------------------------------#}
{% if configuration.routing_options is defined %}
    {% include 'routing_options.j2' %}
{% endif %}

{#- ---------------------------------------------------------------------------------- #}
{# Junos Configuration stanza for "policy-options"                                     #}
{# ------------------------------------------------------------------------------------#}
{% if configuration.policy_options is defined %}
    {% include 'policy_options.j2' %}
{% endif %}

{#- ---------------------------------------------------------------------------------- #}
{# Junos Configuration stanza for "protocols"                                          #}
{# ------------------------------------------------------------------------------------#}
{% if configuration.protocols is defined %}
    {% include 'protocols.j2' %}
{% endif %}
